version: '3.8'

services:
  room-manager:
    image: isdockero/onliver-room-manager:latest
    ports:
      - target: 8080
        published: 1234
        protocol: tcp
    networks:
      - service-network
    deploy:
      replicas: 1
      restart_policy:
        condition: none


networks:
  service-network:
    external: true
